@import 'src/styles/mixins';

.Layout {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.Layout.mobileMenu {
    height: 100vh;
    overflow: hidden;
    min-height: auto;
    padding-right: 18px;
}

.main {
    margin: 24px 0;
    flex: 1 0 auto;
    height: 100%;
    @include block_480 {
        margin: 12px;
    }
}

.footer {
    flex-shrink: 0;
    height: 50px;
    backdrop-filter: sepia(20%);
}
