@import 'src/styles/mixins';

.breedsWrapper {
    h2 {
        margin-bottom: 12px;
    }
}

.breeds {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.breedsItem {
    flex: 1 25%;
    height: 100%;

    @include block_992 {
        flex-basis: 35%;
    }

    @include block_768 {
        flex-basis: 52%;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }
}

.notLink {
    pointer-events: none;
}

.breedInfo {
    padding: 24px;
    background-color: #fff;

    h3 {
        margin-bottom: 4px;
    }
}

.breedTag {
    font-style: italic;
    margin-bottom: 16px;
}
