@import 'src/styles/mixins';

.breed {
    width: 100%;
}

.breedTitleWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.breedTitle {
    text-align: center;
    margin: 0 auto;
}

.goBackBtn {
    width: 32px;
}

.breedImg {
    border-radius: 16px;
    margin-bottom: 12px;
    width: 100%;
}

.breedDescription {
    margin-bottom: 12px;
}

.breedDescriptionList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;

    div {
        width: 32%;
        display: flex;
        gap: 4px;
        @include block_992 {
            width: 49%;
        }

        @include block_768 {
            width: 100%;
        }
    }

    dt {
        font-weight: 600;
        &:after {
            content: ':';
        }
    }
}
