.menuContainer {
  position: relative;
}

.menuIcon {
  width: 36px;
  margin-left: 16px;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-out;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  flex-direction: column;
}

.menuLink {
  padding: 4px 12px;
}

.active {
  visibility: visible;
  opacity: 1;
}

.btn {
  padding: 4px;
}